.form {
    margin-top: 100px;
}

.form__fieldset {
    border-radius: 10px;
    background-color: white;
}

.form__legend {
    border-radius: 10px;
    background-color: rgb(5, 201, 136);
    padding: 10px 8px;
    font-size: 25px;
}

.form__element {
    border-radius: 10px;
    padding: 5px 3px;
    width: 250px;
    text-align: center;
}

.form__element:hover {
    background-color: rgb(236, 236, 236);
}

.form__labelText {
    display: inline-block;
    width: 370px;
}

.form__paragraph {
    margin: 20px;
    text-shadow: 1px 1px 1px rgb(211, 206, 206);
}

.form__paragraph--required {
    font-style: italic;
    font-weight: bold;
}

.form__paragraph--italic {
    font-style: italic;
    text-align: justify;
    font-size: 15px;
}

.form__button {
    background-color: rgb(5, 199, 134);
    width: 40%;
    border-radius: 10px;
    padding: 5px 0;
    margin-top: 20px;
}

.form__button:hover {
    background-color: rgb(31, 249, 177);
}

.form__result {
    font-weight: bold;
}